@model IEnumerable<Shop.Models.Customer>

@{
    ViewData["Title"] = "Brands management";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Email
                </th>
                <th>
                    Password
                </th>
                <th>
                    Regostration time
                </th>
                <th>
                    Role
                </th>
                <th>
                    Make admin
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.CustomerEmail == User.Identity.Name)
                    continue;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerPassword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationTime)
                    </td>
                    @if (item.RoleId == 1)
                    {
                        <td>
                            Admin
                        </td>
                    }
                    else
                    {
                        <td>
                            User
                        </td>
                    }
                    <td>
                        <a asp-action="MakeAdmin" asp-controller="CustomerManagement" asp-route-customerId="@item.CustomerId" class="btn btn-warning">Make Admin</a>
                    </td>
                    <td>
                        <a asp-controller="CustomerManagement" asp-action="Delete" asp-route-customerId="@item.CustomerId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Customers not found!</h3>
}