@model Shop.Models.Product

<h3>Deletion</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>Description</dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
    </dl>

    <div>
        @if (ViewData["CategoryId"] != null)
        {
            <form asp-controller="ProductManagement" asp-action="Delete" asp-route-categoryId="@ViewData["CategoryId"]" method="post">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <button asp-controller="ProductManagement" asp-action="CategoryIndex" asp-route-categoryId="@Model.CategoryId" class="btn btn-warning">Back</button>
                </div>
            </form>
        }
        else
        {
            <form asp-controller="ProductManagement" asp-action="Delete" asp-route-brandId="@ViewData["BrandId"]" method="post">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <button asp-controller="ProductManagement" asp-action="BrandIndex" asp-route-brandId="@Model.BrandId" class="btn btn-warning">Back</button>
                </div>
            </form>
        }
    </div>
</div>
